<script type="text/javascript" src="pages/security2/security.js"></script>

<div class="col_6">
	<h4>Security</h4>
	<blockquote>
	<p>
	A basic check that the security is consistent with the server specification.
	</p>
	
	<ul>
		<li>AJAX with csrf.js includes the csrf.js script and then accesses a CSRF protected URL provided by the user. The user is responsible for defining a resource that is CSRF protected and returns the following JSON object: {"message" : "PrezoServer"}</li>
		<li>AJAX without csrf.js does not include the csrf.js script. It attempts to accesses a CSRF protected URL provided by the user as described above. It tests that an attempt to access the resource causes the server to respond with the expected error status code and message.</li>
	</ul>
	</blockquote>
</div>

<div class="col_6" ng-controller="SecurityController as security">
	<h4>Tests</h4>
	<blockquote>
		<div class="notice" ng-class="{'warning':security.ajaxWithCsrf.checked === false, 'success':security.ajaxWithCsrf.checked && security.ajaxWithCsrf.passed, 'error':security.ajaxWithCsrf.checked && security.ajaxWithCsrf.passed === false}">
			<i ng-class="{'icon-check':security.ajaxWithCsrf.checked, 'icon-check-empty':security.ajaxWithCsrf.checked === false}"></i>
			<div>AJAX with csrf.js {{security.ajaxWithCsrf.message}}</div>
		</div>
		
		<div class="notice" ng-class="{'warning':security.ajaxNoCsrf.checked === false, 'success':security.ajaxNoCsrf.checked && security.ajaxNoCsrf.passed, 'error':security.ajaxNoCsrf.checked && security.ajaxNoCsrf.passed === false}">
			<i ng-class="{'icon-check':security.ajaxNoCsrf.checked, 'icon-check-empty':security.ajaxNoCsrf.checked === false}"></i>
			<div>AJAX without csrf.js {{security.ajaxNoCsrf.message}}</div>
		</div>
			
		<label id="endpoint_label" for="endpoint">CSRF protected resource (required):</label>
		<br />
		<select ng-model="security.endpoint">
			<option value="">-- Choose --</option>
			<option value="api/csrf-test.json.asp">IIS implementation (api/csrf-test.json.asp)</option>
			<option value="api/csrf-test.json.jsp">Java implementation (api/csrf-test.json.jsp)</option>
			<option value="api/csrf-test.json.php">PHP implementation (api/csrf-test.json.php)</option>
			<option value="Other">Other (specify path below)</option>
		</select>		
		<br />
		<br />
		<button class="medium pill" ng-class="{'gray':security.endpoint === null, 'green':security.endpoint !== null}" ng-disabled="security.endpoint === null" ng-click="security.runTests()"><i class="icon-play-circle"></i> Run tests</button>
		<button class="medium pill" ng-class="{'gray':security.ajaxNoCsrf.checked === false, 'green':security.ajaxNoCsrf.checked}" ng-disabled="security.ajaxNoCsrf.checked === false" ng-click="security.reset()"><i class="icon-play-circle"></i> Reset</button>
	</blockquote>
</div>
